body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* HEADER SECTION */
#header, #footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 20%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4em;
}

.logo {
    font-size: 24px;
}

.nav-bar .nav-link {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color: beige;
}

#introduction {
    display: flex;
    align-items: center;
    padding-bottom: 4em;
    gap: 50px;
}

.opening {
    flex: 1;
    width: 50%;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    padding: 6px 24px;
    border: 0;
    border-radius: 8px;
}

.sign-up:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 10px;
}

.secondary-text {
    font-size: 18px;
    margin: 10px 0;
}

.placeholder {
    flex: 1;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(79, 85, 97);
}

.placeholder p {
    padding: 100px 0;
    margin: 0;
}

/* INFORMATION SECTION */
#information {
    padding: 0 25%;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 50px;
    gap: 25px;
}

.box-width {
    flex: 0 1 200px;
}

.box {
    text-align: center;
    padding: 50px 50px;
    border: 2px solid #3882F6;
}

/* FOOTER SECTION */
#footer {
    text-align: center;
    padding: 14px;
}