body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* HEADER SECTION */
#header, #footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20% 4em;
}

.logo {
    font-size: 24px;
}

.nav-bar .nav-link {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

#introduction {
    display: flex;
    align-items: center;
    padding: 0 20% 4em;
}

.opening {
    width: 50%;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.secondary-text {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color: beige;
}

/* FOOTER SECTION */
#footer {
    text-align: center;
    padding: 14px;
}